.abc{
  border: 2px solid red;
  .a{
    .bcz{
      font-size: 30px;
    }
  }
}
.ok{
  border: 2px solid;
  background-color: red;
}

.hahah { background: green; background: url(/images/8.jpg) no-repeat center; background-size: contain }